<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/94f1a48899.js" crossorigin="anonymous"></script>
<script src='script.js' type="text/javascript"></script>

<footer id="bg-4" class="container-fluid text-center">
  <p>
    <a target="_self" style="color: inherit;" href="/contact"><i class="contactLink far fa-envelope"></i></a>
    <span>|</span>
    <img src="../linkedIn.png" class="linkedInPic" alt="Linked In Logo">
    <span>|</span>
    <img class='gitPhotoLink' src="../gitPhotoLink.png" alt="">
    <span>|</span>
    <img title="Click To Visit My High School Website!" src="../otherAccountProfilePic.png" alt="" class='otherAccountProfilePic'>
  </p>

  <p class='copyrightStatment'><strong>&#9400; Website Created and Designed By David Gonzalez</strong></p>
</footer>
