.bg2 {
  display: inline-table;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  color: white;
  width: 100%;
  height: 100%;
}

.iAm {
  font-size: 3em;
}

.hstatPhoto,
.pacePhoto {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  border-radius: 11%;
  transform: scale(0.7);
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.hstatPhoto:hover,
.pacePhoto:hover {
  transform: scale(1);
}

.pacePhoto {
  background-color: white;
}

.hstatHeader,
.paceHeader {
  margin-bottom: 15px;
}
