.container {
  background-image: url("/images/looseleaf.jpg");
  background-repeat: round;
  background-size: cover;
  width: 100%;
  min-height: fit-content;
}

.pageHeader {
  margin: auto;
  text-align: center;
}
