:root {
  --color-text: #8c8c8c;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-montserrat: "Montserrat", sans-serif;
}

html,
body {
  font: 20px var(--font-montserrat);
  line-height: 1.8;
  color: var(--color-text);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* Utility tweaks retained globally */
img {
  max-width: 100%;
  height: auto;
}
