<title>
  Paragraph Utilities</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="../styles.css" type="text/css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="../script.js"></script>

<link rel="shortcut icon" href="../favicon/faviconParagraphUtilities.ico" type="image/x-icon">
<link rel="icon" href="../favicon/faviconParagraphUtilities.ico" type="image/x-icon">

<% include ../partials/navbarParagraphUtilities %>

  <div class="case-parent">
    <h1 class="pageHeader-paragraphUtilities">Case</h1>
    <div class="row">
      <div class="col">
        <div class="mx-auto w-50 text-center">
          <div class='everything-paragraphUtilities'>
            <textarea id='text-paragraphUtilities' class='mx-auto'></textarea><br>
            <button class='mx-auto submitText-paragraphUtilities'>Submit</button><br>
            <label class="switch-paragraphUtilities">
              <input type="checkbox" id="togBtn-paragraphUtilities">
              <div class="slider-paragraphUtilities round"></div>
          </label>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
