<title>Paragraph Utilities</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../style.css" type="text/css">

<script data-ad-client="ca-pub-1540704302011671" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="../script.js"></script>



<link rel="shortcut icon" href="../favicon/faviconParagraphUtilities.ico" type="image/x-icon">
<link rel="icon" href="../favicon/faviconParagraphUtilities.ico" type="image/x-icon">

<% include ../partials/navbarParagraphUtilities %>

<div class="paragraphInfoContainer-paragraphUtilities">
  <h1 class='pageHeader-paragraphUtilities'>Paragraph Info</h1>

  <div class="col">
    <div class="mx-auto w-50 text-center">
      <div class='everything-paragraphUtilities'>
        <div class='paraCont-paragraphUtilities container'>
          <textarea placeholder="Paste Your Text." class='para-paragraphUtilities'></textarea>
          <div id='utilButtons-paragraphUtilities'>
            <button id='utilButton-paragraphUtilities' class='btn btn-default btn-sm eraseBtn-paragraphUtilities'>
              <img class='eraserPic-paragraphUtilities' src="../Eraser.png" alt="Erase">
            </button>
            <button id='utilButton-paragraphUtilities' class="btn btn-default btn-sm printBtn-paragraphUtilities">
                    <img class='printerPic-paragraphUtilities' src="../printerPic.png" alt="Print">
            </button>
          </div>
          <h2 id="numOfSentences-paragraphUtilities">Number Of Sentences: <span class='sentenceNum-paragraphUtilities'>0</span></h2>
        </div>

        <div id='otherInfo-paragraphUtilities' class='container'>

          <div class="row paragraphInfoRow">
            <div class="col-md-6 col-xs-6 lgCol">
              <p>Word Count: <span id='wordCount-paragraphUtilities'>0</span></p>
            </div>
            <div class="col-xs-6 col-md-6 wgCol">
              <p>Character Count With Whitespace: <span id='characterCountWithWhitespace-paragraphUtilities'>0</span></p>
            </div>
          </div>

          <div class="row paragraphInfoRow">
            <div class="col-md-6 col-xs-6 lgCol">
              <p>Punctuation Marks: <span id='punctutationMarks-paragraphUtilities'>0</span></p>
            </div>
            <div class="col-xs-6 col-md-6 wgCol">
              <p>Character Count Without Whitespace: <span id='characterCountWithoutWhitespace-paragraphUtilities'>0</span></p>
            </div>
          </div>

          <div class="row paragraphInfoRow">
            <div class="col-xs-12 col-sm-12 col-md-12" style="background-color:#6a728c;">
              <p>Number of Prepositions: <span id='preposition-paragraphUtilities'>0</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
