<title>Paragraph Utilities</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css" type="text/css">

<script data-ad-client="ca-pub-1540704302011671" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="script.js"></script>

<link rel="shortcut icon" href="../favicon/faviconParagraphUtilities.ico" type="image/x-icon">
<link rel="icon" href="../favicon/faviconParagraphUtilities.ico" type="image/x-icon">

<% include ../partials/navbarParagraphUtilities %>

<div class="container-fluid paragraphUtilitiesHomePageContainer-paragraphUtilities">
  <h1 class='pageHeader-paragraphUtilities'>Paragraph Utilities</h1>
  <div id="home-div-paragraphUtilities" class="text-center container-fluid">
    <p>Have you ever been asked to write an essay with a specific minimum of words or sentences? The Paragraph Info page make sure you meet those requirements.</p>
    <img class="pageGif-paragraphUtilities" src="paragraphInfoGif.gif" alt="Patagraph Info Gif">
    <p style="margin-top:5px;">Have you ever been typing something on your computer and turned on caps locks to capitalize a letter and forgot to turn off the caps lock until it was too late? The Case page can help you with that.</p>
    <img class="pageGif-paragraphUtilities" src="caseGif.gif" alt="Case Gif">
  </div>
</div>

<% include ../partials/footer %>
