.bg2 {
  display: inline-table;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  color: white;
  width: 100%;
  height: 100%;
}

.pacePhoto {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  border-radius: 11%;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.pacePhoto:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.paceHeader {
  margin-bottom: 15px;
}

.pacePhoto {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  border-radius: 11%;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.pacePhoto:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.card {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.collapsed,
.collapsed:hover,
.cardHeader .btn-link {
  color: white !important;
}
